.my-text {
  font-family: "calibri";
  color: black;
  font-size: 22px;
  margin: 0px;
}
.my-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  margin-left: 20px;
}
.text-center {
  text-align: center;
}
